body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    text-align: center;
    margin-top: 150px;
}

h1 {
    color: black;
}

p {
    font-size: 18px;
    color: red;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: aqua;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkturquoise;
}

